html {
  font-size: 62.5%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  position: relative;
  text-rendering: optimizelegibility;
  font-size: 1em;
  line-height: 1;
  font-family: Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
table,
td,
ul,
ol,
h1,
h2,
h3,
h4,
p,
img,
figure {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
pre {
  overflow: auto;
}
code {
  white-space: pre-wrap;
}
pre > code {
  white-space: pre;
}
.bellmaker_container {
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 320px) {
  .bellmaker_container {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) {
  .bellmaker_container {
    width: 100%;
  }
}
@media only screen and (min-width: 640px) {
  .bellmaker_container {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .bellmaker_container {
    width: 76.8rem;
  }
}
@media only screen and (min-width: 1024px) {
  .bellmaker_container {
    width: 96rem;
  }
}
@media only screen and (min-width: 1280px) {
  .bellmaker_container {
    width: 115.2rem;
  }
}
@media only screen and (min-width: 1440px) {
  .bellmaker_container {
    width: 134.4rem;
  }
}
.sunflash_navmenu {
  overflow: auto;
}
.sunflash_navmenu li {
  display: block;
  float: left;
  list-style-type: none;
}
.sunflash_navmenu li a {
  display: block;
}
.font_subtext {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.font_standard {
  font-size: 1.4rem;
  line-height: 2rem;
}
.font_subheading {
  font-size: 1.8rem;
  line-height: 2.5rem;
}
.font_heading {
  font-size: 3rem;
  line-height: 4rem;
}
body {
  font-family: 'Open Sans', sans-serif;
}
p {
  font-size: 1.4rem;
  line-height: 2rem;
}
figure.bellmaker_container {
  overflow: auto;
}
@media only screen and (min-width: 768px) {
  figure.bellmaker_container figcaption {
    float: left;
    width: 38.4rem;
    height: 38.4rem;
  }
}
@media only screen and (min-width: 1024px) {
  figure.bellmaker_container figcaption {
    width: 48rem;
    height: 48rem;
  }
}
figure.bellmaker_container h1 {
  font-weight: 300;
}
@media only screen and (min-width: 320px) {
  figure.bellmaker_container h1 {
    text-align: center;
    font-size: 10vw;
    line-height: 10vw;
    padding: 2vw 0 0 0;
  }
}
@media only screen and (min-width: 768px) {
  figure.bellmaker_container h1 {
    text-align: left;
    margin-left: 2rem;
    padding-top: 9.46666667rem;
    font-size: 6rem;
    line-height: 8rem;
  }
}
@media only screen and (min-width: 1024px) {
  figure.bellmaker_container h1 {
    margin-left: 2rem;
    padding-top: 10.66666667rem;
    font-size: 8rem;
    line-height: 10rem;
  }
}
figure.bellmaker_container #game_status {
  text-align: center;
}
@media only screen and (min-width: 320px) {
  figure.bellmaker_container #game_status {
    padding-top: 2vw;
    font-size: 5vw;
    line-height: 5vw;
  }
}
@media only screen and (min-width: 768px) {
  figure.bellmaker_container #game_status {
    text-align: left;
    margin-left: 2rem;
    padding-top: 0;
    font-size: 2rem;
    line-height: 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  figure.bellmaker_container #game_status {
    margin-left: 2rem;
    font-size: 3rem;
    line-height: 3rem;
  }
}
@media only screen and (min-width: 320px) {
  #tictac_container {
    width: 90vw;
    height: 90vw;
    margin: 5vw;
  }
}
@media only screen and (min-width: 768px) {
  #tictac_container {
    margin: 4rem 2rem 0 0;
    float: right;
    width: 34.4rem;
    height: 34.4rem;
  }
}
@media only screen and (min-width: 1024px) {
  #tictac_container {
    margin: 4rem 2rem 0 0;
    width: 44rem;
    height: 44rem;
  }
}
.tictac_cell {
  float: left;
  box-sizing: border-box;
  border-style: solid;
  border-color: #333333;
}
@media only screen and (min-width: 320px) {
  .tictac_cell {
    width: 30vw;
    height: 30vw;
    border-width: 0.3rem;
  }
  .tictac_cell > div {
    height: 28vw;
  }
}
@media only screen and (min-width: 768px) {
  .tictac_cell {
    width: 11.46666667rem;
    height: 11.46666667rem;
    border-width: 0.2rem;
  }
  .tictac_cell > div {
    height: 11.06666667rem;
  }
}
@media only screen and (min-width: 1024px) {
  .tictac_cell {
    width: 14.66666667rem;
    height: 14.66666667rem;
    border-width: 0.3rem;
  }
  .tictac_cell > div {
    height: 14.06666667rem;
  }
}
.tictac_cell:nth-child(3n) {
  border-right-color: #ffffff;
}
.tictac_cell:nth-child(3n - 2) {
  border-left-color: #ffffff;
}
.tictac_cell:nth-child(1),
.tictac_cell:nth-child(2),
.tictac_cell:nth-child(3) {
  border-top-color: #ffffff;
}
.tictac_cell:nth-child(7),
.tictac_cell:nth-child(8),
.tictac_cell:nth-child(9) {
  border-bottom-color: #ffffff;
}
.tictac_cell:hover {
  cursor: pointer;
  background-color: #f5f5ff;
}
.tictac_cell .selected:hover {
  cursor: not-allowed;
  background-color: transparent;
}
.tictac_cell p {
  text-align: center;
}
@media only screen and (min-width: 320px) {
  .tictac_cell p {
    font-size: 23vw;
    line-height: 28vw;
  }
}
@media only screen and (min-width: 768px) {
  .tictac_cell p {
    font-size: 9.06666667rem;
    line-height: 11.06666667rem;
  }
}
@media only screen and (min-width: 1024px) {
  .tictac_cell p {
    font-size: 10.06666667rem;
    line-height: 14.06666667rem;
  }
}
.tictac_cell .winset_cell {
  background-color: rgba(0, 255, 0, 0.25);
}
