.font_subtext {
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.font_standard {
    font-size: 1.4rem;
    line-height: 2rem;
}
.font_subheading {
    font-size: 1.8rem;
    line-height: 2.5rem;
}
.font_heading {
    font-size: 3rem;
    line-height: 4rem;
}


@color_default: #FFF;
@color_tictac_divider: #333;
@color_tictac_hover: #F5F5FF;