.font_subtext {
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.font_standard {
    font-size: 1.4rem;
    line-height: 2rem;
}
.font_subheading {
    font-size: 1.8rem;
    line-height: 2.5rem;
}
.font_heading {
    font-size: 3rem;
    line-height: 4rem;
}


@color_default: #FFF;
@color_tictac_divider: #333;
@color_tictac_hover: #F5F5FF;


// tic tac paddings

// small monitors
@padding_tictac_small: 4rem;
// border width between cells, small monitors
@border_tictac_small: 0.4rem;

// medium monitors
@padding_tictac_medium: 4rem;
// border width between cells, medium monitors
@border_tictac_medium: 0.6rem;