body {
    font-family: 'Open Sans', sans-serif;
}

a:link {
    color: @color_a_link;
}
a:visited {
    color: @color_a_visited;
}
a:hover {
    color: @color_a_hover;
}
.bellmaker_container {
    @media @da_x_large {
        width: @pw_large;
    }
}
figure.bellmaker_container {
    overflow: auto;

    figcaption {

        @media @da_baseline {

        }
        @media @da_small {
            float: left;
            width: @pw_small / 2;
            height: @pw_small / 2;
        }
        @media @da_medium {
            width: @pw_medium / 2;
            height: @pw_medium / 2;
        }
        @media @da_large {
            width: @pw_large / 2;
            height: @pw_large / 2;
        }
    }
    h1 {
        font-weight: 300;

        @media @da_baseline {
            text-align: center;
            font-size: 10vw;
            line-height: 10vw;
            padding: 2vw 0 0 0;
        }
        @media @da_small {
            text-align: left;
            margin-left: @padding_tictac_small / 2;
            padding-top: ((@pw_small - (@padding_tictac_small * 2)) / 6) + @padding_tictac_small - 6rem;
            font-size: 6rem;
            line-height: 8rem;
        }
        @media @da_medium {
            margin-left: @padding_tictac_medium / 2;
            padding-top: ((@pw_medium - (@padding_tictac_medium * 2)) / 6) + @padding_tictac_medium - 8rem;
            font-size: 8rem;
            line-height: 10rem;
        }
        @media @da_large {
            margin-left: @padding_tictac_large / 2;
            padding-top: ((@pw_large - (@padding_tictac_large * 2)) / 6) + @padding_tictac_large - 8rem;
            font-size: 10rem;
            line-height: 12rem;
        }
    }
    #game_status {
        text-align: center;

        @media @da_baseline {
            padding-top: 2vw;
            font-size: 5vw;
            line-height: 5vw;
        }
        @media @da_small {
            text-align: left;
            padding-top: 0;
            margin-left: @padding_tictac_small / 2;
            font-size: 2rem;
            line-height: 2rem;
        }
        @media @da_medium {
            padding-top: 0;
            margin-left: @padding_tictac_medium / 2;
            font-size: 3rem;
            line-height: 3rem;
        }
        @media @da_large {
            padding-top: 0;
            margin-left: @padding_tictac_large / 2;
            font-size: 4rem;
            line-height: 4rem;
        }
    }
}
[role="contentinfo"] {
    @media @da_baseline {
        > div {
            padding: 2vw 5vw 10vw 5vw;
        }
        p {
            font-size: 5vw;
            line-height: 7vw;
            text-align: center;
        }
    }
    @media @da_small {
        height: 6rem;
        > div {
            padding: 2rem 0 0 0;
            float: right;
            margin-right: (@padding_tictac_small / 2);
            width: (@pw_small - (@padding_tictac_small * 2)) / 2;
        }
        p {
            font-size: 1.2rem;
            line-height: 2rem;
        }
    }
    @media @da_medium {
        > div {
            padding: 2rem 0 0 0;
            margin-right: (@padding_tictac_medium / 2);
            width: (@pw_medium - (@padding_tictac_medium * 2)) / 2;
        }
        p {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
    @media @da_large {
        height: 8rem;
        > div {
            padding: 3rem 0 0 0;
            margin-right: (@padding_tictac_large / 2);
            width: (@pw_large - (@padding_tictac_large * 2)) / 2;
        }
        p {
            font-size: 2rem;
            line-height: 3rem;
        }
    }
}