
#tictac_container {
    @media @da_baseline {
        width: 100vw - 10vw;
        height: 100vw - 10vw;
        margin: 5vw;
    }
    @media @da_small {
        margin: @padding_tictac_small (@padding_tictac_small / 2) 0 0;
        float: right;
        width: (@pw_small - (@padding_tictac_small * 2)) / 2;
        height: (@pw_small - (@padding_tictac_small * 2)) / 2;
    }
    @media @da_medium {
        margin: @padding_tictac_medium (@padding_tictac_medium / 2) 0 0;
        width: (@pw_medium - (@padding_tictac_medium * 2)) / 2;
        height: (@pw_medium - (@padding_tictac_medium * 2)) / 2;
    }
    @media @da_large {
        margin: @padding_tictac_large (@padding_tictac_large / 2) 0 0;
        width: (@pw_large - (@padding_tictac_large * 2)) / 2;
        height: (@pw_large - (@padding_tictac_large * 2)) / 2;
    }

}
.tictac_cell {
    float: left;
    box-sizing: border-box;
    border-style: solid;
    border-color: @color_tictac_divider;


    @media @da_baseline {
        width: (100vw - 10vw) / 3vw;
        height: (100vw - 10vw) / 3vw;
        border-width: 0.3rem;

        > div {
            height: ((100vw - 10vw) / 3vw) - 2vw;
        }
    }
    @media @da_small {
        width: (@pw_small - (@padding_tictac_small * 2)) / 6;
        height: (@pw_small - (@padding_tictac_small * 2)) / 6;
        border-width: @border_tictac_small / 2;

        > div {
            height: ((@pw_small - (@padding_tictac_small * 2)) / 6) - @border_tictac_small;
        }
    }
    @media @da_medium {
        width: (@pw_medium - (@padding_tictac_medium * 2)) / 6;
        height: (@pw_medium - (@padding_tictac_medium * 2)) / 6;
        border-width: @border_tictac_medium / 2;

        > div {
            height: ((@pw_medium - (@padding_tictac_medium * 2)) / 6) - @border_tictac_medium;
        }
    }
    @media @da_large {
        width: (@pw_large - (@padding_tictac_large * 2)) / 6;
        height: (@pw_large - (@padding_tictac_large * 2)) / 6;
        border-width: @border_tictac_large / 2;

        > div {
            height: ((@pw_large - (@padding_tictac_large * 2)) / 6) - @border_tictac_large;
        }
    }
    &:nth-child(3n) {
        border-right-color: @color_default;
    }
    &:nth-child(3n - 2) {
        border-left-color: @color_default;
    }
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        border-top-color: @color_default;
    }
    &:nth-child(7), &:nth-child(8), &:nth-child(9) {
        border-bottom-color: @color_default;
    }
    &:hover {
        cursor: pointer;
        background-color: @color_tictac_hover;
    }
    .selected {
        &:hover {
            cursor: not-allowed;
            background-color: transparent;
        }
    }
    .mark_x {
    }
    .mark_o {
    }
    p {
        text-align: center;

        @media @da_baseline {
            font-size: ((100vw - 10vw) / 3vw) - 2vw - 5vw;
            line-height: ((100vw - 10vw) / 3vw) - 2vw;
        }
        @media @da_small {
            font-size: ((@pw_small - (@padding_tictac_small * 2)) / 6) - @border_tictac_small - 2rem;
            line-height: ((@pw_small - (@padding_tictac_small * 2)) / 6) - @border_tictac_small;
        }
        @media @da_medium {
            font-size: ((@pw_medium - (@padding_tictac_medium * 2)) / 6) - @border_tictac_medium - 4rem;
            line-height: ((@pw_medium - (@padding_tictac_medium * 2)) / 6) - @border_tictac_medium;
        }
        @media @da_large {
            font-size: ((@pw_large - (@padding_tictac_large * 2)) / 6) - @border_tictac_large - 4rem;
            line-height: ((@pw_large - (@padding_tictac_large * 2)) / 6) - @border_tictac_large;
        }
    }
    .winset_cell {
        background-color: @color_tictac_win;
    }
}